################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blood_Donation_Management_System.slnx
.vs/
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates 